<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<center>

<body background-repeat: no-repeat;	 >
	<header>
		<div class="container">
		  <center><h1 style="color:#fa0a0a;text-shadow: 2px 2px 2px rgba(0,0,0,0.942);">SMS SPAM DETECTOR</h1>
		  <center><h3 style="color:rgb(108,208,26);text-shadow: 2px 2px 2px rgba(38,42,43,0.942);" >Machine Learning App with Flask</h3></center>
	    </div>
	</header>

	<div class="container">

		<form action="{{ url_for('predict')}}" method="POST">
		<br>
		<br>
		<br>
		<p style="color:rgb(255, 128, 0);font-size:20px; text-shadow: 2px 2px 2px rgba(38,42,43,0.942);"><b>Enter Your Message Here</b></p>
		<textarea style="color:#18ce18;background-color:rgb(17, 18, 17);border-color:rgb(244, 240, 240);border-width:3px;" name="message" rows="5" cols="50" placeholder="enter your text message here"></textarea>
		<br>
		<br>
		<input type="submit" class="btn-info" value="predict" required>

	    </form>
		 <!-- Copyright Symbol and Text -->
		 <div style="position: fixed;; bottom: 10px; right: 10px; font-size: 12px; color: #999;">&copy;hemsun</div>

	</div>
</body>
</center>
</html>